html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  display: flex;;
}

canvas {
  image-rendering: optimizeSpeed;
  /* image-rendering: crisp-edges;
  image-rendering: pixelated; */
}
